:root {
    --colarkfont: 'Mukta Malar', sans-serif;
    --leftmargin: 80px;
    --background: #FFF;
    --colarkblue: #0111FC;
    --contrastcolor: var(--background);
}

 .blog {
   background-color: var(--colarkblue);
   color: var(--contrastcolor);
   height: 450px;
   overflow-y: hidden;
   padding: 40px;
 }

 .blog__text {
   padding-left: 200px;
 }
