:root {
    --navheight: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #436295;
}

.navbar-light .navbar-brand {
    color: #436295;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

li.nav-item {
    margin-bottom: 0px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    border-bottom: 2px solid #436295;
    font-size: 16px;
    background-color: #FFFFFF !important;
}

.bg-light {
    background-color: #FFFFFF !important;
}

.dropdown-item {
    color: #436295;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}