:root {
  --background: #FFF;
  --colarkblue: #0111FC;
  --colarklightblue: #E3E5FC;
}

.team-member {
  position: relative;
  display: inline-block;
}

img.team-member__photo, .team-accent-dot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-member__photo-div {
  position: relative;
  z-index: 1;
}

.alina-photo {
  top: 200px;
  left: 200px;
}

.ellie-photo {
  top: 40px;
  left: 240px;
}

.lian-photo {
  bottom: 20px;
  left: 150px;
}

.olga-photo {
  top: 250px;
  left: 630px;
}

.claire-photo {
  top: 60px;
  left: 300px;
}

.team-accent-dot {
  background-color: #FF6969;
  position: relative;
  left: 170px;
  top: 100px;
}

.team-member__name, .team-member__title, .team-member__email, .team-member__linkedin {
  display: none;
}

.tooltiptext {
    display: none;
    width: 120px;
    max-height: 300px;
    background-color: var(--colarkblue);
    border: 1px solid var(--colarkblue);
    color: var(--background);
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: 105px;
    left: -10px;
    opacity: 0.9;
    transition: opacity 0.3s;
    font: 20px "Roboto", sans-serif;
    font-weight: 100;
}

.tooltiptext--name {
  font-weight: 400;
}

.tooltiptext--title {
  font-size: 18px;
  color: var(--colarklightblue);
}

.tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--colarkblue) transparent;
}

div.team-member__photo-div:hover .tooltiptext,
div.team-member__photo-div:active .tooltiptext {
    display: inline-block;
}

@media only screen and (max-width: 900px) {
  .olga-photo {
    left: 500px;
  }
}

@media only screen and (min-width: 1080px) {
  img.team-member__photo, .team-accent-dot {
    width: 120px;
    height: 120px;
  }

  .alina-photo {
    top: 250px;
    left: 360px;
  }

  .olga-photo {
    top: 270px;
    left: 750px;
  }

  .claire-photo {
    top: 80px;
    left: 450px;
  }

  .tooltiptext {
    top: 125px;
    left: 0px;
  }

}

@media only screen and (min-width: 1300px) {
  img.team-member__photo, .team-accent-dot {
    width: 150px;
    height: 150px;
  }

  .olga-photo {
    top: 320px;
    left: 900px;
  }

  .claire-photo {
    left: 460px;
  }

  .tooltiptext {
    top: 155px;
    left: 16px;
  }

}

@media only screen and (max-width: 400px) {
  .olga-photo {
    top: 200px;
    left: 530px;
  }
}
