
.illustration-container {
    top: 12px;
    position: absolute;
    right: 0;
    z-index: -1;
    width: 60%;
}

.illustration-container img {
    width: 100%;
}

@media only screen and (min-width: 1350px) {
    .illustration-container {
        width: 45%; 
    }
}

@media only screen and (max-width: 900px) {
    .illustration-container {
        display: none;
    }
}


