
.illustration-container {
    top: 12px;
    position: absolute;
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 60%;
}

.illustration-container img {
    width: 100%;
}

/* @media only screen and (min-width: 1380px) {
    .illustration-container {
        width: 50%; 
    }
} */

@media only screen and (min-width: 1300px) {
    .illustration-container {
        width: 770px;
    }
}

@media only screen and (max-width: 1000px) {
    .illustration-container {
        width: 600px;
    }
}

@media only screen and (max-width: 900px) {
    .illustration-container {
        display: none;
    }
}