
    .illustration-container {
        position: absolute;
        right: 0;
        z-index: -1;
        width: 50%;
    }

@media only screen and (max-width: 700px) {
    .illustration-container {
        position: absolute;
        right: 0;
        z-index: -1;
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .illustration-container {
        position: absolute;
        right: 0;
        z-index: -1;
        width: 20%;
    }
}

@media only screen and (max-width: 450px) {
    .illustration-container {
        display: none;
    }
}