:root {
    --navheight: 40px;
    --colarkfontcolor: #000000;
    --colarkfont: 'Roboto', sans-serif;
    --background: #FFFFFF;
}

.sticky-nav {
    position: sticky;
    top: 0;
  }

.navbar-light .navbar-nav .nav-link {
    color: var(--colarkfontcolor); 
}

.navbar-light .navbar-brand {
    color: var(--colarkfontcolor);
    font-family: var(--colarkfont);
    font-weight: 700;
    font-size: 24px;
}

li.nav-item {
    margin-bottom: 0px;
}

.navbar {
    font-family: var(--colarkfont);
    letter-spacing: 15%;
    border-bottom: 2px solid #C4C4C4;
    font-size: 24px;
    background-color: var(--background) !important;
    position: sticky !important;
}

.bg-light {
    background-color: var(--background);
}

.dropdown-item {
    color: var(--colarkfontcolor);
    font-size: 1.5vw;
    font-family: var(--colarkfont);
}

span.navbar-toggler-icon {
    font-size: 24px;
}
