.body-container-minus-footer {
    background: url("https://res.cloudinary.com/colark/image/upload/v1539726136/Colark%20Marketing%20Site/page-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
}