
    .illustration-container {
        position: absolute;
        right: 0;
        z-index: -1;
        width: 50%;
    }

@media only screen and (max-width: 700px) {
    .illustration-container {
        position: relative;
        float: right;
        z-index: -1;
    }
}