:root {
    --navheight: 40px;
    --colarkfontcolor: #0111FC;
    --colarkfont: 'Mukta Malar', sans-serif;
    --background: rgba(255,255,255,0);
    --leftmargin: 80px;
}


div.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
    width: 80%;
    margin: 0 auto;
}


h1.display-3 {
    font-family: var(--colarkfont);
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 6px;
    width: 60%;
    margin-top: 100px;
}

p.lead {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-weight: 400;
    color: #C4C4C4;
    width: 100%;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 1000px) {
    #view-container {
        height: 500px;
    }

    div.jumbotron {
        height: 500px;
    }

    h1.display-3 {
        margin-top: 70px;
    }
}


@media only screen and (max-width: 900px) {
    div.jumbotron {
        width: 90%;
    }

    p.lead {
        width:100%;
        font-size: 30px;
    }

    h1.display-3 {
        margin-top: 0px;
        width: 100%;
    }

}

