:root {
    --navheight: 40px;
    --colarkfontcolor: #0111FC;
    --colarkfont: 'Mukta Malar', sans-serif;
    --background: rgba(255,255,255,0);
    --leftmargin: 80px;
}

#page-container {
    overflow: hidden;
    width: 100%;
}

div.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
    margin: 0 auto;
    width: 80% !important;
    overflow: hidden !important;
    padding: 0;
    margin-top: 140px !important;
}


h1.display-3 {
    font-family: var(--colarkfont) !important;
    text-align: left !important;
    font-size: 60px !important;
    font-weight: 700;
    letter-spacing: 10px !important;
    width: 100% !important;
}

p.lead {
    display: flex;
    justify-content: left;
    padding-top: 40px;
    font-size: 25px !important;
    font-weight: 400;
    color: #C4C4C4;
    width: 50% !important;
}

.btncolor {
    background-color: var(--colarkfontcolor);
    font-size: 1.5vw !important;
}

.btntext {
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

@media only screen and (max-width: 1400px) {
    p.lead {
        width:70%;
        font-size: 30px !important;
    }

    h1.display-3 {
        width: 60% !important;
        font-size: 55px !important;
    }
}

@media only screen and (min-width: 875px) {
    p.lead {
        width: 70% !important;
    }

    h1.display-3 {
        width: 80%;
    }
}

@media only screen and (max-width: 788px) {
    p.lead {
        width:100% !important;
        font-size: 30px !important;
    }

    h1.display-3 {
        font-size: 50px !important;
        width: 100% !important;
    }
}


@media only screen and (max-width: 600px) {
    p.lead {
        width: 100%;
    }

    h1.display-3 {
        width: 100%;
        font-size: 45px !important;
    }
}

@media only screen and (max-width: 414px) {
    p.lead {
        font-size: 25px !important;
    }

    h1.display-3 {
        font-size: 45px !important;
    }
}