.partner {
  background-color: var(--background);
  border-radius: var(--roundedcorners);
  padding: 10px;
  height: 65px;
  display: inline-block;
  margin: 15px;
  text-align: center;
}

img.partner__logo {
  height: 100%;
  width: auto;
  text-align: center;
  margin: 0 auto;
}

.partners {
  padding-top: 80px;
}
