:root {
  --background: #FFF;
  --contrastcolor: var(--background);
}

.partner {
  background-color: var(--background);
  border: 1px solid var(--contrastcolor);
  border-radius: 8px;
  padding: 10px;
  height: 65px;
  width: 210px;
  display: inline-block;
  margin: 15px;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

img.partner__logo {
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.partners {
  padding-top: 80px;
}

@media only screen and (max-width: 800px) {
    .illustration2-container {
        display: none;
    }
}
