.partner {
  background-color: var(--background);
  border-radius: var(--roundedcorners);
  padding: 10px;
  height: 65px;
  display: inline-block;
  margin: 15px;
  text-align: center;
  max-width: 200px;
}

img.partner__logo {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.partners {
  padding-top: 80px;
}
