:root {
    --navheight: 40px;
    --colarkfontcolor: #0111FC;
    --colarkfont: 'Mukta Malar', sans-serif;
    --background: rgba(255,255,255,0);
    --leftmargin: 80px;
}
   
.page_title {
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
}

img.logo {
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
    height: 100%;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3);
}

.page-description {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
}