:root {
    --navheight: 40px;
    --colarkfontcolor: #436295;
    --colarkfont: 'Roboto', sans-serif;
    --background: rgba(67, 98, 149, 0.1);
}

.projects {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
    margin: 0px;
    font-size: 2vw !important;
}


h1.display-3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 5vw !important;
    font-weight: 700;
}

p.lead {
    display: flex;
    justify-content: center;
    font-size: 2vw !important;
    font-weight: 700;
}

p {
    display: flex;
    justify-content: center;
    font-size: 2vw !important;

}

.btncolor {
    background-color: var(--colarkfontcolor);
    font-size: 1.5vw !important;
}

.btntext {
    color: #FFFFFF;
}

#container {
    display: flex;
    justify-content: space-evenly;
}