.contact-form__container {
    width: 100%;
    text-align: center;
    padding: 40px;
}

.contact-form__image--container {
    width: 60%;
}

.contact-form__image {
    width: 100%;
}

.contact-form__input--container {
    width: 40%;
    padding: 50px;
}

.contact-form__input--container, .contact-form__image--container {
    display: inline-block;
    padding: 30px;
}

.contact-form__button {
    float: right;
    width: 150px;
    padding: 0;
    margin-top: 40px;
    background-color: var(--accentcolor);
    border: 1px solid var(--accentcolor);
    border-radius: 5px;
    color: var(--background);
}

.contact-form__input--header {
    color: var(--colarkblue);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: left;
}

.contact-form__input--message,
.contact-form__input--email,
.contact-form__input--name {
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    outline-color: transparent;
    outline-style: none;
    background: var(--colarklightblue);
    border: 1px solid var(--colarklightblue);
}

.contact-form__input--message::placeholder,
.contact-form__input--email::placeholder,
.contact-form__input--name::placeholder {
    color: var(--contactformfontcolor);
}

.contact-form__input--message {
    height: 200px;
    padding-bottom: 150px;
}

@media only screen and (min-width:1500px) {
    .contact-form__image--container {
        width: 60%;
    }

    .contact-form__input--container {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .contact-form__container {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .contact-form__input--container {
        width: 100%;
        display: block;
        padding: 50px;
        align-self: center;
        margin: 0 auto !important;

    }

    .contact-form__image--container {
        display: none;
    }
}
