.projects-container {
    position: relative;
    text-align: center;
    z-index: 5;
    background:rgba(255,255,255, 0.3);

}

@media only screen and (min-width: 1000px) {

    .projects-container {
        background: rgba(255,255,255, 0.05);
  }

}