@import "/web-assets/normalize.css";
@import "/web-assets/global.css";
@import "/src/components/Navbar/navbar.css";
@import "/src/components/RocketPyramid/RocketPyramid.css";
@import "/src/components/HeroSection/HeroSection.css";
@import "/src/components/blog-card/BlogCard.css";
@import "/src/components/blog-section/BlogSection.css";
@import "/src/components/blog-slider/BlogSlider.css";
@import "/src/components/partner/Partner.css";
@import "/src/components/partners/Partners.css";
@import "/src/components/Project/project.css";
@import "/src/components/Projects/projects.css";
@import "/src/components/team/team.css";
@import "/src/components/team-member/team-member.css";
@import "/src/components/footer/Footer.css";
@import "/src/components/Contact/contact.css";
@import "/src/components/Subscription/subscription.css";
@import "/src/components/BasicPage/BasicPage.css";
@import "/src/components/AboutPage/AboutPage.css";
@import "/src/components/LandingPage/LandingPage.css";
@import "/src/components/MazeBottom/MazeBottom.css";
@import "/src/components/Unstack/unstack.css";
@import "/src/components/PhaseZero/phasezero.css";
@import "/src/components/BasicPage/basic-page.css";
