

.team-container {
  position: relative;
  margin-bottom: 80px;
  padding-top: 70px;
  clear: both;
}

.team {
  width: 120%;
  margin: 50px auto 0 auto;
  height: 800px;
  background-image: url("https://res.cloudinary.com/colark/image/upload/v1539936349/Colark%20Marketing%20Site/rainbow_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.team__header.section__header {
  display: block;
  width: 900px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 50px auto;
  z-index: 2;
}

.team-member-div {
  display: inline-block;
  position: relative;
}

.team-path {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .team__title {
    width: 720px;
  }
}

@media only screen and (min-width: 1100px) {
  .team {
    background-size: cover;
    height: 1000px;
  }
}
