.nav__glyphicon {
  max-width: 80%;
  margin-bottom: 0;
}

.nav__menu {
  width: 55px;
  height: 40px;
  border-radius: 5px;
  float: right;
  border: 1px solid #c4c4c4;
  z-index: 5;
}

.nav__container {
  float: right;
}

.nav__container--inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.nav__list {
  float: right;
  width: 80px;
  color: var(--colarkfontcolor);
  opacity: 0.5;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: transparent;
  z-index: 2;
  position: absolute;
  top: 0;
}

a {
  text-decoration: inherit;
  color: var(--colarkfontcolor);
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.nav__logo {
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .nav__menu {
    display: none;
  }

  .nav__list {
    display: none;
  }

  .nav__container--mobile {
    text-align: center;
    background: transparent;
    padding: 5px;
  }

  .nav__mobile {
    position: absolute;
    top: 69px;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    opacity: 0.5;
  }
}

@media only screen and (min-width: 600px) {
  .nav__menu,
  .nav__container--mobile,
  .nav__mobile {
    display: none;
  }
}
