:root {
  --background: #FFF;
  --colarkblue: #0111FC;
  --colarklightblue: #E3E5FC;
}

.partners {
  background-color: var(--colarkblue);
  width: 100%;
  height: 100px;
}

li {
  list-style: none;
  display: inline-block;
}
