@import "../../pages/global.css";

.partners {
  background-color: var(--colarkblue);
  width: 100%;
  border: 1px solid var(--colarkblue);
}

.partners__right--container, .illustration2-container {
  background-color: transparent;
  margin: 0;
  float: left;
  position: relative;
  display: inline-block;
}

.illustration2-container {
  width: 45%;
  right: 33px;
}

.partners__right--container {
  width: 55%;
  padding: 50px;
}

.partners__right--innerwrap {
  width: 100%;
  text-align: center;
}

.partners__header.section__header {
  color: white;
  width: 500px;
  text-align: center;
}

@media only screen and (max-width: 1054px) {
  .partners__header.section__header {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .illustration2-container {
    display: none;
  }
  .partners__right--container {
    width: 100%;
  }
  .partners__right--innerwrap {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .partners__right--container {
    width: 50%;
  }
}
