:root {
  --colarkblue: #0111FC;
}

.project-container {
    margin-top: 200px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.blue-wave-top-container {
  position: relative;
  width: 105%;
  right: 5px;
  z-index: -5;
  margin-bottom: -3px;
}

.blue-wave-top-container img {
  margin: 0;
}

.project {
    border: none;
    background-color: var(--colarkblue);
    display: inline-block;
    width: 50%;
    padding: 50px;
    text-align: center;
}

.phase-zero-image {
    width: 400px;
    box-shadow: 5px 10px 18px #797676;
    border-radius: 10px;
}

.unstack-image {
    width: 400px;
    box-shadow: 5px 10px 18px #797676;
    border-radius: 10px;
}

@media only screen and (max-width: 900px) {
    .project {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}

@media only screen and (max-width: 411px) {
    .project {
        padding: 0;
    }

    img.phase-zero-image {
        width: 250px;
        margin-top: 100px !important;
    }

    img.unstack-image {
        width: 250px;
        margin-top: 100px !important;
    }
}
