.project-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 200px;
}

.project {
    width: 400px;
}

.image {
    box-shadow: 5px 10px 18px #797676;
    border-radius: 10px;
}