.hero-container {
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-container__background--maze {
  width: 100%;
  position: relative;
  background-size: contain;
  top: -70px;
}

.hero-container--inner {
  width: 78%;
  margin: 0 auto;
}

.hero-container__title {
  color: var(--colarkfontcolor);
  font-size: 40px;
  padding-top: 140px;
  margin: 0;
  font-weight: 600;
}

.hero-container__subheader {
  color: var(--colarkfontcolor);
  font-size: 20px;
  padding-top: 15px;
  margin: 0;
  font-weight: 400;
  padding-bottom: 25px;
  width: 50%;
}

.avoid-wrap {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .hero-container__title {
    font-size: 34px;
    padding-top: 200px;
    line-height: 42px;
  }

  .hero-container__subheader {
    color: var(--colarkfontcolor);
    font-size: 18px;
    width: 100%;
  }

  .hero-container__background--maze {
    width: 160%;
  }
}

@media only screen and (min-width: 950px) {
  .hero-container__title {
    margin-top: 0px;
    width: 60%;
    padding-top: 170px;
  }

  .hero-container__background--maze {
    top: -250px;
  }

  .hero-container {
  }
}
