.project {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    z-index: 5;
    padding-bottom: 50px;
}

.project__icon {
    width: 250px;
    display: block;
    margin: 0 auto;
}

.project__title {
  color: var(--contrastcolor);
  font-family: var(--colarkfontmedium);
  text-align: center;
  font-size: 36px;
  margin: 15px;
}

.project__blurb {
  color: var(--mutedtextcolor);
  margin: 0 auto;
  font-size: 16px;
  max-width: 240px;
}

@media only screen and (max-width: 900px) {
    .project {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .project__icon {
        margin-top: 75px;
    }
}


