li {
  list-style: none;
  display: inline-block;
}

.partner {
  background-color: white;
  border: 1px solid #eee;
  height: 100px;
  width: 300px;
  padding: 10px;
}

img.partner__logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
}

.partner__info, .partner__logo-div {
}

.partner__info {
  display: inline-block;
  text-align: left;
  padding: 0;
}

.partner__name, .partner__website {
  margin: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.partner__name {
  font-weight: 600;
}
