:root {
  --background: #FFF;
  --colarkblue: #0111FC;
  --colarklightblue: #E3E5FC;
}

.partner-container {
  height: 800px;
  background-color: var(--colarkblue);
}

.partner {
  display: inline-block;
  margin: 400px auto;
}

.illustration2-container {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
}

.illustration2-container svg{
    height: 706px;
}

li {
  list-style: none;
  display: inline-block;
}

.partner {
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  height: 75px;
  width: 200px;
  padding: 10px;
}

img.partner__logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
}

.partner__info, .partner__logo-div {
}


@media only screen and (max-width: 800px) {
    .illustration2-container {
        display: none;
    }
}
