.hero-container {
    background: linear-gradient(180deg, #5C6DFF 0%, #FFFFFF 93.73%);
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero-container__background--maze {
    width: 100%;
    position: relative;
    background-size: contain;
}

.hero-container__background--white {
    margin-top: 150px;
    position: relative;
    width: 100%;
}

.hero-container--inner {
    width: 78%;
    margin: 0 auto;
}

.hero-container__title {
    color: var(--colarkfontcolor);
    font-size: 40px;
    padding-top: 140px;
    margin: 0;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(128,128,128);
}

@media only screen and (max-width: 440px) {

    .hero-container__title {
        padding-top: 200px;
    }

    .hero-container__background--maze {
        width: 160%;
    }

    .hero-container__background--white {
        top: 100px;
    }
}

@media only screen and (max-width: 600px) {

    .hero-container__title {
        padding-top: 200px;
    }

    .hero-container__background--maze {
        width: 140%;
        right: 160px;
    }

}

@media only screen and (min-width: 910px) {

    .hero-container__background--white {
        margin-top: 400px;
        height: 350px;
    }

}

@media only screen and (min-width: 1200px) {
    .hero-container__background--maze {
        top: -350px;
    }

    .hero-container__title {
        margin-top: 0px;
        width: 40%;
        padding-top: 170px;
    }

    .hero-container__background--white {
        top: -100px;
    }
}
