.team-member {
  position: relative;
  display: inline-block;
}

img.team-member__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-member__photo-div {
  position: relative;
}

.alina-photo {
  top: 200px;
  left: 200px;
}

.ellie-photo {
  top: 40px;
  left: 240px;
}

.lian-photo {
  bottom: 20px;
  left: 150px;
}

.olga-photo {
  top: 150px;
  left: 520px;
}

.claire-photo {
  top: 20px;
  left: 300px;
}

.someone-photo {
  top: 220px;
  right: 330px;
}

.team-member__name, .team-member__title, .team-member__email, .team-member__linkedin {
  display: none;
}
