@import "../../pages/global.css";

.project-info-container {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

.project-info {
    margin-top: 60px;
}

.project-info__title {
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
}

.project-info-photo {
    height: 100%;
    width: 300px;
    border-radius: var(--roundedcorners);
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: var(--boxshadow);
}

.project-info-description {
    width: 30% !important;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-family: var(--colarkfont);
    color: var(--colarkfontcolor);
}

@media only screen and (min-width: 300px) {
    .project-info-description {
        width: 90% !important;
    }

    .project-info-photo {
        width: 250px;
    }
}

@media only screen and (min-width: 625px) {
    .project-info-description {
        width: 50% !important;
    }
}

@media only screen and (min-width: 800px) {
    .project-info-description {
        width: 40%;
    }
}
