.view-container {
    background: linear-gradient(180deg, #5C6DFF 0%, #FFFFFF 93.73%);
}

.view-container--inner {
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: var(--colarkfontcolor);
}


.view-container__title {
    color: var(--colarkfontcolor);
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 6px;
    width: 100%;
    padding-top: 140px;
    margin: 0;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .view-container--inner {
        padding-top: 105px;
    }
}

@media only screen and (min-width: 900px) {

    .view-container--inner {
        height: 600px;
    }

    .view-container__title {
        width: 60%;
    }
}
