.view-container--inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--colarkfont);
    width: 80%;
    margin: 0 auto;
    height: 400px;
}


.view-container__title {
    color: var(--colarkblue);
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 6px;
    width: 100%;
    margin-top: 30px;
}

.view-container__subtitle {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-weight: 400;
    color: var(--lightgray);
    width: 100%;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 900px) {

    .view-container--inner {
        height: 600px;
    }

    .view-container__title {
        margin-top: 70px;
        width: 60%;
    }
}