.view-container {
    background: linear-gradient(180deg, #5C6DFF 0%, #FFFFFF 93.73%);

}

.view-container--inner {
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: var(--colarkfontcolor);
}


.view-container__title {
    color: var(--colarkfontcolor);
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 6px;
    width: 100%;
    margin-top: 30px;
}

.view-container__subtitle {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-weight: 400;
    color: var(--colarkfontcolor);
    width: 100%;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .view-container--inner {
        margin-top: 105px;
    }

    .view-container__title {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 900px) {

    .view-container--inner {
        height: 600px;
    }

    .view-container__title {
        width: 60%;
    }
}
