:root {
  --colarkblue: #0111FC;
}

.team {
  position: absolute;
  left: -9999px;
  right: -9999px;
  width: 1000px;
  margin: 80px auto;
  height: 350px;
  background-color: rgba(255, 255, 255, 0);
}

.team__title {
  display: block;
  color: var(--colarkblue);
  font-size: 36px;
  font-family: "Mukta-Malar SemiBold", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 50px auto;
  width: 900px;
  z-index: 2;
}

.team-member-div {
  display: inline-block;
  position: relative;
}

.team-path-div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.team-path {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/colark/image/upload/v1534305667/Colark%20Marketing%20Site/Meet_our_team_Scam.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 900px) {
  .team__title {
    width: 720px;
  }
}

@media only screen and (max-width: 800px) {
  .team {
    height: 350px;
  }
  .team-path {
    width: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .team-member__photo-div, .team-member__info {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .team__title {
    width: 350px;
    text-align: center;
    margin: 0 auto 330px auto;
  }
}

@media only screen and (max-width: 400px) {
  .team {
    height: 300px;
  }
  .team__title {
    margin: 0 auto 350px auto;
  }
}

@media only screen and (min-width: 1300px) {
  .team {
    width: 1300px;
    height: 600px;
    margin-bottom: 100px;
  }
  .team-path {
    width: 100%;
    height: 500px;
    background-size: cover;
  }
}
