.rocket-pyramid {
    top: 12px;
    position: absolute;
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 60%;
}

.rocket-pyramid__image {
    width: 100%;
}

@media only screen and (min-width: 1300px) {
    .rocket-pyramid {
        width: 800px;
    }
}

@media only screen and (max-width: 1000px) {
    .rocket-pyramid {
        width: 600px;
    }
}

@media only screen and (max-width: 900px) {
    .rocket-pyramid {
        display: none;
    }
}