.contact-form__container {
    width: 100%;
    text-align: center;
}

.contact-form__image {
    width: 100%;
}

.contact-form__input--container, .contact-form__image--container {
    display: inline-block;
    padding: 30px;
    width: 80%;
}

.contact-form__input--title {
    text-align: left;
    margin: 0;
    color: var(--lightgray);
    letter-spacing: 1px;
}

.contact-form__line {
    color: var(--lightgray);
    margin-top: -20px;
    height: 2px;
    background: var(--lightgray);
    border: var(--lightgray);
    margin-bottom: 100px;
}

.contact-form__button {
    float: right;
    width: 150px;
    background-color: var(--lightgray);
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    color: var(--background);
    margin-bottom: 100px;
    margin-top: -20px;
}

.contact-form__input--message,
.contact-form__input--email,
.contact-form__input--name {
    margin: 5px;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    margin-left: -5px;
    outline-color: transparent;
    outline-style: none;
    background: transparent;
    border: transparent;
}

.contact-form__input--message::placeholder,
.contact-form__input--email::placeholder,
.contact-form__input--name::placeholder {
    color: var(--primary);
}

.contact-form__input--message {
    height: 200px;
    padding-bottom: 150px;
}

@media only screen and (min-width:1500px) {
    .contact-form__image--container {
        width: 60%;
    }

    .contact-form__input--container {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .contact-form__container {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .contact-form__input--container {
        width: auto;
        display: block;
        align-self: center;
        margin: 0 auto !important;

    }

    .contact-form__image--container {
        display: none;
    }
}
