/* .wave-container-bottom {
    height: 400px;
    top: 1200px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    padding-bottom: 600px;
}

.blue-wave-bottom {

    overflow: hidden;
} */