:root {
    --accentcolor: #FF6969;
    --background: #FFF;
    --borderline: 1px solid var(--lightgray);
    --colarkfontcolor: #000000;
    --colarkfont: 'Mukta Malar', sans-serif;
    --colarkblue: #0111FC;
    --colarklightblue: #E3E5FC;
    --contrastcolor: var(--background);
    --footerheight: 70px;
    --leftmargin: 80px;
    --lightgray: #C4C4C4;
    --navheight: 40px;
    --roundedcorners: 8px;
    --boxshadow: 5px 7px 5px rgba(0, 0, 0, 0.3);
    --contactformbackground: #E0E2F2;
    --contactformfontcolor: #A9ADE0;
}

.section__header {
  margin: 40px auto;
  font-family: "Mukta-Malar", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 36px;
}
