:root {
    --accentcolor: #FF6969;
    --background: #FFF;
    --borderline: 1px solid var(--lightgray);
    --colarkfontcolor: #FFFFFF;
    --colarkfont: 'Poppins Semi-Bold', sans-serif;
    --colarkfontmedium: 'Poppins Medium', sans-serif;
    --colarkblue: #0111FC;
    --colarklightblue: #E3E5FC;
    --contrastcolor: #333;
    --mutedtextcolor: #BDBDBD;
    --footerheight: 70px;
    --leftmargin: 80px;
    --lightgray: #C4C4C4;
    --navheight: 40px;
    --roundedcorners: 8px;
    --boxshadow: 5px 7px 5px rgba(0, 0, 0, 0.3);
    --contactformfontcolor: #A9ADE0;
    --darkpurple: #5C6DFF;
}

.section__header {
  margin: 40px auto;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 36px;
}

body * {
  font-family: var(--colarkfont);
}
